<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">@ViewBag.Title</h3>
        </div>
    </div>
</div>
<div>
    <div class="card card-bordered" id="media_wrapper">
        <div class="card-inner border-bottom">
            <div class="card-title-group">
                <div class="card-title">
                    <h6 class="title">Table 01</h6>
                </div>
                <div class="card-tools">
                    <span onclick="toggleFullscreen()" class="nk-menu-icon"><em class="icon ni ni-expand"></em></span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="grid">
                <div class="alert alert-fill alert-icon alert-primary" role="alert">
                    <em class="icon ni ni-alert-circle"></em>
                    <strong>Info</strong> : User data is being synchronized from the <b>SHIMANOACE</b>. Any modification please refer to to there.
                </div>
                <table id="table_1" class="table text-nowrap w-100">
                    <thead>
                        <tr>
                            <th>Windows ID</th>
                            <th>Givenname</th>
                            <th>Surname</th>
                            <th>Mail</th>
                            <th>Phone</th>
                            <th>Dept</th>
                            <th>Plant</th>
                            <th>Country</th>
                            <th>Principal</th>
                            <th>Last Login</th>
                            <th>Create</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        GET_USER_DC();
    });

    function GET_USER_DC() {
        var URL = "@Url.Action("GET_USER_DC", "MASTERDATA")";
        var dataTable = $("#table_1").DataTable({
            "responsive": {
                "details": false
            },
            "scrollX": true,
            "autoWidth": false,
            "buttons": [
                'copy', 'excel', 'csv','pdf', 'print',
                {
                    "extend": "colvis",
                    "columnText": function (dt, idx, title) {
                        return (idx + 1) + ': ' + title;
                    }
                }
            ],
            "dom": "<\"row justify-between g-2 with-export\"<\"col-7 col-sm-4 text-start\"f><\"col-5 col-sm-8 text-end\"<\"datatable-filter\"<\"d-flex justify-content-end g-2\"<\"dt-export-buttons d-flex align-center\"<\"dt-export-title d-none d-md-inline-block\">B>l>>>><\"datatable-wrap my-3\"t><\"row align-items-center\"<\"col-7 col-sm-12 col-md-9\"p><\"col-5 col-sm-12 col-md-3 text-start text-md-end\"i>>",
            "language": {
                "search": "",
                "searchPlaceholder": "Type in to Search",
                "lengthMenu": "<span class='d-none d-sm-inline-block'>Show</span><div class='form-control-select'> _MENU_ </div>",
                "info": "_START_ -_END_ of _TOTAL_",
                "infoEmpty": "0",
                "infoFiltered": "( Total _MAX_  )",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Next",
                    "previous": "Prev"
                }
            },
            "ajax": {
                "url": URL,
                "type": "GET",
                "datatype": "json",
                "data": function (a) {
                    return $.extend({}, a, {});
                }
            },
            "columns": [
                { "data": 'samAccountName' },
                { "data": 'givenName' },
                { "data": 'surname' },
                { "data": 'mail' },
                { "data": 'telephoneNumber' },
                { "data": 'department' },
                { "data": 'company' },
                { "data": 'country' },
                { "data": 'userPrincipalName' },
                { "data": 'lastLogonTimestamp' },
                { "data": 'whenCreated' },
                { "data": 'whenChanged' }
            ]
        });
    }

    function toggleFullscreen() {
        let media_card = document.getElementById("media_wrapper");
        if (document.fullscreenElement || document.webkitFullscreenElement || document.mozFullScreenElement) {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            }
        }
        else {
            if (media_card.requestFullscreen) {
                media_card.requestFullscreen();
            } else if (media_card.webkitRequestFullscreen) {
                media_card.webkitRequestFullscreen();
            } else if (media_card.mozRequestFullScreen) {
                media_card.mozRequestFullScreen();
            }
        }
    }

</script>